#container-notif {
    padding-top: 20px;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 30px;
    width: 800px;
    min-height: 100vh;
    height: auto;
    background: white;
}

#panel-notif {
    width: 600px; 
    border-radius: 0px; 
    margin-bottom: 0px;
}

.boton-ed-perfil {
    margin-top: 20px;
    text-transform: none !important;
    color: white !important;
    background: -moz-linear-gradient(141deg, #35d2c8 0%, #48d2d2 51%, #47dae0 75%) !important;
    background: -webkit-linear-gradient(141deg, #35d2c8 0%, #48d2d2 51%, #47dae0 75%) !important;
    border: 1px solid #48d2d2 !important;
    height: 30px;
    border-radius: 3px !important;
    width: 150px;
    font-size: 13px;
    font-family: 'Raleway', sans-serif !important; 
    box-shadow: none;
    font-weight: normal !important;
}

.ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-text-icon-left {
    margin-top: 10px;
    text-transform: none !important;
    color: white !important;
    background: -moz-linear-gradient(141deg, #5e78d4 0%, #6887b7 51%, #7089de 75%) !important;
    background: -webkit-linear-gradient(141deg, #5e78d4 0%, #6887b7 51%, #7089de 75%) !important;
    height: 30px;
    border-radius: 3px !important;
    width: 110px;
    font-size: 14px;
    font-family: 'Raleway', sans-serif !important; 
    box-shadow: none;
    font-weight: normal !important;
    border: none;
    padding-top: 2px;
}

.boton-ed-mapa {
    margin-top: 10px;
    text-transform: none !important;
    color: white !important;
    background: -moz-linear-gradient(141deg, #5e78d4 0%, #6887b7 51%, #7089de 75%) !important;
    background: -webkit-linear-gradient(141deg, #5e78d4 0%, #6887b7 51%, #7089de 75%) !important;
    height: 30px;
    border-radius: 3px !important;
    width: 200px;
    font-size: 14px;
    font-family: 'Raleway', sans-serif !important; 
    box-shadow: none;
    font-weight: normal !important;
    border: none;
    padding-top: 2px;
}


.ui-tabs ui-widget.ui-widget-content.ui-corner-all.ui-hidden-container.ui-tabs-top, .ui-tabs-panels {
    background: transparent;
}

.cuadro-editar {
    background: #f8f8f8;
    border-radius: 4px;
    width: 500px;
    margin-left: -20px;
    padding-bottom: 30px;
    padding-top: 15px;
}

.cuadro-editar2 {
    background: -moz-linear-gradient(141deg, #35d2c8 0%, #48d2d2 51%, #47dae0 75%) !important;
    background: -webkit-linear-gradient(141deg, #35d2c8 0%, #48d2d2 51%, #47dae0 75%) !important;
    position: absolute;
    border-radius: 3px;
    width: 500px;
    height: 20px;
    margin-top: -33px;
    z-index: 20;
}

.cuadro-mensaje {
    background: white;
    border-radius: 4px;
    width: 400px;
    margin-left: -20px;
    padding-bottom: 30px;
    padding-top: 15px;
}

.ui-chkbox-box.ui-widget.ui-corner-all.ui-state-default {
    margin: 5px !important;
}

.ui-dialog-titlebar.ui-widget-header.ui-helper-clearfix.ui-corner-top {
    background: -moz-linear-gradient(141deg, #35d2c8 0%, #48d2d2 51%, #47dae0 75%) !important;
    background: -webkit-linear-gradient(141deg, #35d2c8 0%, #48d2d2 51%, #47dae0 75%) !important;
    color: white;
}

#east-pp {  
    padding:1em;  
    width:30vw; 
    float:left; 
    height:100vh; 
    padding-left: 16vw;
    padding-top: 50px;
} 

#west-pp { 
    margin-top:60px;    
    width:46vw; 
    min-height:500px; 
    float:right;
    padding-right: 10px;
    padding-top: 60px;
    background: white;
    margin-right: 14vw;
    border-radius: 5px;
    height: auto;
}  

.dataa {
    font-size: 18px;
    font-family: 'Karla', sans-serif !important; 
    color: white;
    margin-top: 10px;
    margin-bottom: 10px;
}

.minorda {
    font-size: 14px;
    font-family: 'Karla', sans-serif !important; 
    color: white;
}

.cuadro-pp {
    width: 400px;
    height: 430px;
    background: white;
    border-radius: 4px;
    padding-top: 50px;
    padding-left: 50px;
    background: white;
}

.datab {
    font-size: 18px;
    font-family: 'Karla', sans-serif !important; 
    color: black;
}

.minordb {
    font-size: 14px;
    font-family: 'Karla', sans-serif !important; 
    color: black;
}

.boton-pp {
    text-transform: none !important;
    color: white !important;
    background: -moz-linear-gradient(141deg, #35d2c8 0%, #48d2d2 51%, #47dae0 75%) !important;
    background: -webkit-linear-gradient(141deg, #35d2c8 0%, #48d2d2 51%, #47dae0 75%) !important;
    border: 1px solid #48d2d2 !important;
    height: 25px;
    border-radius: 3px !important;
    width: 25px;
    font-size: 13px;
    font-family: 'Raleway', sans-serif !important; 
    box-shadow: none;
    font-weight: normal !important;
}

.mi-panel-grid2 {
    margin-top: 20px;
}

.mi-panel-grid2 tr td {
    padding: 3px;
    padding-left: 5px;
    padding-right: 5px;
}

.mi-panel-grid2 tr:nth-child(even) {
    background-color: #f8f8f8;
}

.mi-panel-grid3 tr td {
    padding: 3px;
    padding-left: 5px;
    padding-right: 5px;

}
.mi-panel-grid3 {
    margin-top: 60px;
    width: 250px;
    /*background: black;*/
    margin-left: 40px;
}

.minorc {
    font-size: 14px;
    font-family: 'Karla', sans-serif !important; 
    color: black;
    margin-right: 15px;
    margin-bottom: 10px;

}

.cuadro-pazul {
    background: -moz-linear-gradient(141deg, #35d2c8 0%, #48d2d2 51%, #47dae0 75%) !important;
    background: -webkit-linear-gradient(141deg, #35d2c8 0%, #48d2d2 51%, #47dae0 75%) !important;
    border-radius: 0px;
    position: absolute;
    width: 46vw;
    margin-top: -20px;
    padding-bottom: 30px;
    padding-top: 15px;
    height: 20px;
}

.cuadro-ppp {
    /*position: absolute;*/
    width: 390px;
    height: 380px;
    margin-top: -240px;
    /*margin-left: -50px;*/
    border-radius: 5px;
    float: right;
    margin-right: 20px;
}

.cuadro-pp {
    background: #f0f4f6;
    /*position: absolute;*/
    width: 290px;
    height: 300px;
    margin-left: 100px;
    border-radius: 5px;
    padding: 20px;
}

#east-pc {  
    padding:1em;  
    width:32%; 
    float:left;
    height: 100vh;
    padding-left: 150px;
    padding-top: 40px;
} 

#west-pc { 
    margin:0;    
    width:60%; 
    height:550px; 
    float:right; 
    background: white;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 0px;
    border-radius: 5px;
    margin-right: 5em;
    margin-top: 50px;
}  

.mi-panel-grid4 {
    margin-top: 10px;
    width: 250px;
    /*background: black;*/
    margin-left: 10px;

}

.cuadro-cazul {
    background: -moz-linear-gradient(141deg, #35d2c8 0%, #48d2d2 51%, #47dae0 75%) !important;
    background: -webkit-linear-gradient(141deg, #35d2c8 0%, #48d2d2 51%, #47dae0 75%) !important;
    border-radius: 0px;
    position: absolute;
    width: 60%;
    margin-top: 40px;
    padding-bottom: 30px;
    padding-top: 15px;
    height: 20px;
    margin-left: -20px;
}

.ui-datatable-data.ui-widget-content {
    background: none;
}

.ui-widget-content.ui-datatable-even {
    background: none;
}

.boton-pp2 {
    margin-top: 0px;
    text-transform: none !important;
    color: white !important;
    background: -moz-linear-gradient(141deg, #35d2c8 0%, #48d2d2 51%, #47dae0 75%) !important;
    background: -webkit-linear-gradient(141deg, #35d2c8 0%, #48d2d2 51%, #47dae0 75%) !important;
    border: 1px solid #48d2d2 !important;
    height: 20px;
    border-radius: 2px !important;
    width: 20px;
    font-size: 13px;
    font-family: 'Raleway', sans-serif !important; 
    box-shadow: none;
    font-weight: normal !important;
    margin-left: 5px;
    margin-right: 5px;
}

.cuadro-ed-auto {
    background: white;
    min-height: 100vh;
    max-width: 900px; 
}

.ui-wizard-step-title.ui-state-default.ui-state-highlight.ui-corner-all {
    background: #b6b4b4;
    box-shadow: none;
    border: none;
    font-family: 'Karla', sans-serif !important;
    font-size: 14px;
    width: 100px;
    height: 40px;
    padding-top: 11px;
}

.ui-wizard-step-title.ui-state-default.ui-corner-all {
    background: #dbd0d0;
    box-shadow: none;
    border: none;
    font-family: 'Karla', sans-serif !important;
    font-size: 14px;
    width: 100px;
    height: 40px;
    padding-top: 11px;
    text-shadow: none;
}

.ui-panel-titlebar.ui-widget-header.ui-helper-clearfix.ui-corner-all {
    background: -moz-linear-gradient(141deg, #35d2c8 0%, #48d2d2 51%, #47dae0 75%) !important;
    background: -webkit-linear-gradient(141deg, #35d2c8 0%, #48d2d2 51%, #47dae0 75%) !important;
    border: none;
    color: white;
    text-shadow: none;
}

.ui-panel-title {
    text-shadow: none;
}

.mi-tr2, .ui-inputfield.ui-inputtext.ui-widget.ui-state-default.ui-corner-all.pe-inputNumber {
    box-shadow: none !important;
    text-align: left !important;
    border-color: #D2D9DE !important;
    font-family: 'Pontano Sans', sans-serif !important;
    height: 40px !important;
    font-size: 12px !important;
}

.ui-state-default.ui-corner-top.ui-tabs-selected.ui-state-active, .ui-state-default.ui-corner-top {    
    border: none !important;
    
}

.ui-state-default.ui-corner-top.ui-tabs-selected.ui-state-active a, .ui-state-default.ui-corner-top a {
    font-family: 'Karla', sans-serif !important;
    font-size: 15px;
}

.ui-layout-unit.ui-widget.ui-widget-content.ui-corner-all.ui-layout-west.ui-layout-pane.ui-layout-pane-west {
    background: none;
    padding-left: 10px !important;
}

.ui-layout-unit.ui-widget.ui-widget-content.ui-corner-all.ui-layout-center.ui-layout-pane.ui-layout-pane-center {
    width: 600px !important;
    height: 500px !important;
    margin-top: 50px !important;
    padding-left: 10px !important;
}

.ui-layout-unit-content.ui-widget-content {
    background: none;
    margin-left: 100px;
    margin-right: 50px;
}

#east-r {  
    padding:1em;  
    width:42%; 
    float:left;
    height: 100vh;
    padding-left: 15%;
    padding-top: 40px;
} 

#west-r { 
    margin:0;    
    width:40%; 
    min-height:370px; 
    float:right; 
    background: white;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 30px;
    border-radius: 5px;
    margin-right: 15em;
    margin-top: 70px;
}  