.ui-menu, .ui-menu .ui-menu-child {
    background: -moz-linear-gradient(141deg, #1C1E1D 0%, #1e2020 51%, #141415 75%);
    background: -webkit-linear-gradient(141deg, #1C1E1D 0%, #1e2020 51%, #141415 75%);
    border: 0px;
    color: white;
    display: block;
    position: relative;
    width: auto;
    
}

.ui-menuitem-link.ui-submenu-link.ui-corner-all.ui-state-hover,
.ui-menuitem-link.ui-corner-all.ui-state-hover {
    background: #eef3f6;
    display: block;
    position: relative;
    width: auto;
    font-family: 'Pontano Sans', sans-serif;

}

.barra-nav a {
    color: white;
    font-family: 'Pontano Sans', sans-serif !important;
}

.ui-datatable thead th, .ui-datatable tbody td, .ui-datatable tfoot td, .ui-datatable tfoot th {
    border-width: 0px;
}

.ui-datatable thead th {
    background: #000;
    color: #fefefe;
    text-shadow: none;
}

.ui-state-default.ui-filter-column, .ui-paginator.ui-paginator-bottom.ui-widget-header.ui-corner-bottom {
    border: 0px;
    background: #dee4e4;
}

.ui-datatable-header.ui-widget-header.ui-corner-top {
    background: #fff;
}

.ui-state-default.ui-corner-top.ui-tabs-selected.ui-state-active a {
    color: #000;
}

.ui-state-default.ui-corner-top {
    background: #e6dddd;
}

.ui-tabs.ui-widget.ui-widget-content.ui-corner-all.ui-hidden-container.ui-tabs-top {
    border: 0px;
}

/* Lo que sigue podría interferir con otra vista... pero no super cómo más 
podía sobreescribir el comportamiento de las pestañas de primefaces. Espero no 
joder nada que tenían*/
.ui-tabs-nav.ui-helper-reset.ui-helper-clearfix.ui-widget-header.ui-corner-all {
    background: transparent;
}

.ui-tabs .ui-tabs-nav .ui-tabs-selected{
    background-color: #eee9e9;
}



.ui-panelgrid-cell{
    background-color: #ededed;
}

.mi-panel-grid tr td {
    padding: 7px;
}

.mi-tr, .ui-inputfield.ui-widget.ui-state-default.ui-corner-all.hasDatepicker {
    box-shadow: none;
    text-align: left;
    border-color: #D2D9DE;
    font-family: 'Pontano Sans', sans-serif !important;
}

.ui-menuitem.ui-widget.ui-corner-all.ui-menuitem-active, .ui-menuitem-link.ui-submenu-link.ui-corner-all.ui-state-hover {
    background: #fefefe;
}

.ui-menuitem-link.ui-corner-all.ui-state-hover {
    box-shadow: none;
    background: none;
    border: none;
}

.ui-menuitem-link.ui-corner-all.ui-state-hover {
    width: 100%;
}

.ui-widget.ui-menuitem.ui-corner-all.ui-menu-parent a:focus {
    color: graytext;
}

.ui-menuitem-link.ui-corner-all.menu-itemc.ui-state-hover {
    background: white;
    width: auto;
}