@import url("bootstrap.css");

* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
 background-color: #dddddd; 
}
#top {
    position: relative;
    background-color: #036fab;
    color: white;
    padding: 5px;
    margin: 0px 0px 10px 0px;
}

#top > .navbar-wrapper {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    border: 0;
}
#bottom {
    position: relative;
    background-color: #c2dfef;
    padding: 5px;
    margin: 10px 0px 0px 0px;
}

#left {
    float: left;
    background-color: #ece3a5;
    padding: 5px;
    width: 150px;
}

#left > p{
    text-align: justify;
    margin: 5px;
}
#left > h2{
    text-align: center;
}
#right {
    float: right;
    background-color: #ece3a5;
    padding: 5px;
    width: 150px;
}

#content {
    float: inside;
    padding-top: 10%;
    position: absolute;
}
#content>p{
    text-align: justify;
    margin: 6px;
}
/*cuando el ancho de la ventana del navegador supera los 600px,
mueve el contenido a la izquierda y justifica el texto*/
@media (min-width:600px){
     
    #content {
     text-align: justify;
     padding-left: 35%;   
    }   
}
#content .button input[type=submit]{
    width: 5%;
    background-color: #0277BD;
    color: white;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


.center_content {
    padding-top: 100px;
    position:absolute;
    text-align: center;
    background-color: #dddddd;
}

.left_content {
    background-color: #dddddd;
    padding: 5px;
    margin-left: 170px;
}

.right_content {
    position: absolute;
    background-color: #dddddd;
    padding: 5px;
    margin: 0px 170px 0px 170px;
}

#top a:link, #top a:visited {
  color: white;
  font-weight : bold;
  text-decoration: none;
}

#top a:link:hover, #top a:visited:hover  {
  color: black;
  font-weight : bold;
  text-decoration : underline;
}


.container {
    position: relative;
}

/*para inputs en formularios*/
.form-horizontal>input{
    position: relative;
    width: 100%;
    padding: 10px 20px;
    margin: 9px 0;
    display: inline-block;
    border: 1px solid #ECEFF1;
    border-radius: 4px;
    box-sizing: border-box;
}


.alignmentCenter {
 text-align: center;
}
.alignmentLeft {
 text-align : left;
}
.alignmentRight {
 text-align : right;
}

/*para barra superior*/
.navbar {
    background-color: #63775A; /*color axolotl :)*/
    color: whitesmoke;
    width: 100%;
    border-radius: 0px;
    vertical-align: middle;
    
}
/*para el logo*/
.navbar-brand{
    padding-top:-20%;
    padding-left: -10%;
    padding-bottom: -20%;
}

/*para el logo*/
.nav-brand>img {
    padding: 15px;
    width: auto;
    position:relative;
    vertical-align: central;
}

.navbar .nav > li > a : hover {
    color : #BFC7BB;
}

/*abre menu*/
.dropdown  {
    padding-top: 0px;
    padding-left: -10%;
    color:whitesmoke;
}

.dropdown-menu{
    background-color: #63775A;
}
.dropdown-menu>li>a{
    color:whitesmoke;
}
.dropdown-menu > li > a:hover{
    color: #63775A;
}

.form {
    border-radius: 5px;
    padding: 30px;
}

/*might not work*/
.form input[type=text], .form input[type=password]{
    text-align: center;
    width: 100%;
    padding: 10px 20px;
    margin: 9px 0;
    display: inline-block;
    border: 1px solid #ECEFF1;
    border-radius: 5px;
    box-sizing: border-box;
}

/*modificación a los botones de bootstrap*/
.btn-info{
    background-color: #9BA895;
    border-color: #82927B;
}
.btn-info:hover{
    background-color: #AFB9AA;
    border-color: #AFB9AA;
}

.btn-link{
    background-color: #63775A;
    color: whitesmoke;
}

.btn-link:hover{
    background-color: #BFC7BB;
    color: #BFC7BB;
}

